<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email"><br>
        
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password"><br>
        <br>
        <p><a href=/signup>Signup</a></p>
        <button type="submit">Login</button>

        <% if (message) { %>
            <p><%= message %></p>
        <% } %>

        <% if (success) { %>
            <p><%= success %></p>
        <% } %>
    </form>
</body>

